<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="emptyTileSpawnRateMin" value="0"/>
    <add key="emptyTileSpawnRateMax" value="0,5"/>
    
    <add key="obstacleEnemySpawnRateMin" value="0,5"/>
    <add key="obstacleEnemySpawnRateMax" value="0,6"/>

    <add key="rangerMinEnemySpawnRate" value="0,6"/>
    <add key="rangerMaxEnemySpawnRate" value="0,7"/>
    
    
    
    <add key="dpsEnemyTreshold" value="0,8"/>
    <add key="aoeEnemyTreshold" value="0,8"/>
    <add key="todEnemyTreshold" value="0,8"/>
    <add key="cfEnemyTreshold" value="0,8"/>
    <add key="hrEnemyTreshold" value="0,8"/>
  </appSettings>
</configuration>